* {
    background-color: gray;
}
h1 {
    font-size: 46px;
    text-align: center;
    color: #fdb;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #bbe;
}

ul {
    display: inline-block;
    align-items: center;
}

li {
    border: 2px solid black;
    text-align: center;
    padding: 15px 10px;
    margin: 8px auto;
    list-style: none;
}